/* Fonts */

/* Montserrat Font Family */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Fraunces Font Family */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&display=swap');


/* Main Colors */
:root {
    /* Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    
    /* Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--Cream);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--White);
    max-width: 40rem;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    border-radius: 10px;
}

main .product-img img {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

main .f-f-bold {
    font-family: "Fraunces", serif;
}
